* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 600px;
    height: 90px;
    background-color: chartreuse;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    margin: 10px;
}

ul {
    width: 550px;
    height: 90px;
    display: flex;
    /* background-color: #ccc; */
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    width: 100px;
    height: 50px;
    background-color: #eee;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;
}